{% extends 'trazabilidad/estado_muestra_base.html' %}

{% block informacion_muestra %}
	<h4>SOLICITANTE</h4>
    <table class="table table-bordered">
        <tr>
            <th>INSTITUCIÓN SOLICITANTE</th>
            <td>{{ general.institucion.nombre|upper }}</td>
        </tr>
        <tr>
            <th>DIRECCIÓN SOLICITANTE</th>
            <td>{{ general.institucion.direccion|upper }}</td>
        </tr>
        <tr>
            <th>RESPONSABLE DE TOMA</th>
            <td>{{ general.responsable_entrega|upper }}</td>
        </tr>
        <tr>
            <th>CARGO</th>
            <td>{{ general.cargo|upper }}</td>
        </tr>
        <tr>
            <th>NÚMERO DE CASO</th>
            <td>{{ general.numero_caso|upper }}</td>
        </tr>
        <tr>
            <th>NÚMERO DE OFICIO</th>
            <td>{{ general.numero_oficio|upper }}</td>
        </tr>
    </table>

    <h4>LUGAR DE RECOLECCIÓN</h4>
    <table class="table table-bordered">
        <tr>
            <th>DEPARTAMENTO</th>
            <td>{{ general.poblado.municipio.departamento|upper }}</td>
        </tr>
        <tr>
            <th>MUNICIPIO</th>
            <td>{{ general.poblado.municipio|upper }}</td>
        </tr>
        <tr>
            <th>POBLADO</th>
            <td>{{ general.poblado|upper }}</td>
        </tr>
        <tr>
            <th>SITIO DE TOMA</th>
            <td>{{ general.sitio_toma|upper }}</td>
        </tr>
        <tr>
            <th>PROPIETARIO</th>
            <td>{{ general.propietario|upper }}</td>
        </tr>
        <tr>
            <th>DIRECCIÓN</th>
            <td>{{ general.direccion|upper }}</td>
        </tr>
        <tr>
            <th>FECHA</th>
            <td>{{ general.fecha|date:"j \d\e F \d\e Y \a \l\a\s h:i A"|upper }}</td>
        </tr>
    </table>
{% endblock informacion_muestra %}

{% block form_action %}{% url 'bebidas_alcoholicas:estado_muestra' ingreso.id %}{% endblock %}

{% block edit_url %}{% url 'bebidas_alcoholicas:actualizar_muestra' ingreso.id %}{% endblock %}
