<div class="row table-responsive">
    <div class="col-md-12 panel-print text-uppercase">
        <h4 class="header-print">¿POR QUÉ SE NOTIFICA EL CASO COMO IRA POR VIRUS NUEVO?</h4>
        <table class="table table-bordered margin-print">
            <tr>
                <th>¿ES TRABAJADOR DE LA SALUD U OTRO PERSONAL DEL ÁMBITO HOSPITALARIO QUE HAYA TENIDO CONTACTO ESTRECHO
                    CON UN CASO PROBABLE O CONFIRMADO DE VIRUS NUEVO?</th>
                <td>{% firstof info_general.get_trabajador_salud_display 'SIN DATOS' %}</td>
                <th>¿VIAJÓ A ÁREAS DE CIRCULACIÓN DEL VIRUS NUEVO?</th>
                <td>{% firstof info_general.get_viajo_area_con_virus_display 'SIN DATOS' %}</td>
            </tr>
        </table>
        <table class="table table-bordered margin-print">
            <tr>
                <th>¿El VIAJE FUE EN EL TERRITORIO NACIONAL?</th>
                <td>{% firstof info_general.get_viaje_nacional_display 'SIN DATOS' %}</td>
                <th>DEPARTAMENTO</th>
                <td>{% firstof info_general.municipio_viaje_nacional.departamento 'SIN DATOS' %}</td>
                <th>MUNICIPIO</th>
                <td>{% firstof info_general.municipio_viaje_nacional 'SIN DATOS' %}</td>
            </tr>
        </table>
        <table class="table table-bordered margin-print">
            <tr>
                <th>¿El VIAJE FUE EN TERRITORIO INTERNACIONAL?</th>
                <td>{% firstof info_general.get_viaje_internacional_display 'SIN DATOS' %}</td>
                <th>PAÍS</th>
                <td>{% firstof info_general.pais_viaje_iternacional 'SIN DATOS' %}</td>
            </tr>
        </table>
        <table class="table table-bordered margin-print">
            <tr>
                <th>¿TUVO CONTACTO ESTRECHO EN LOS ÚLTIMOS 14 DÍAS CON UN CASO PROBABLE O CONFIRMADO CON INFECCIÓN
                    RESPIRATORIA AGUDA GRAVE POR VIRUS NUEVO?</th>
                <td>{% firstof info_general.get_contacto_caso_confirmado_display 'SIN DATOS' %}</td>
                <th>SÍNTOMAS</th>
                <td>{% firstof info_general.get_sintomas_display|join:' - ' 'SIN DATOS' %}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12 panel-print text-uppercase">
        <h4 class="header-print">ANTECEDENTES VACUNALES</h4>
        <table class="table table-bordered margin-print">
            <tr>
                <th>INFLUENZA ESTACIONAL</th>
                <td>{% firstof info_general.get_influenza_estacional_display 'SIN DATOS' %}</td>
                <th>DOSIS</th>
                <td>{% firstof info_general.dosis_influenza_estacional 'SIN DATOS' %}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12 panel-print text-uppercase">
        <h4 class="header-print">ANTECEDENTES CLÍNICOS</h4>
        <table class="table table-bordered margin-print">
            <tr>
                <th>ANTECEDENTES</th>
                <td>{% firstof info_general.get_antecedentes_clinicos_display|join:' - ' 'SIN DATOS' %}</td>
                <th>OTROS</th>
                <td>{% firstof info_general.otros_antecedentes_clinicos 'SIN DATOS' %}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12 panel-print text-uppercase">
        <h4 class="header-print">DIAGNÓSTICO Y TRATAMIENTO</h4>
        <table class="table table-bordered margin-print">
            <tr>
                <th>HALLAZGOS RADIOGRAFÍA DE TÓRAX</th>
                <td>{% firstof info_general.get_radiografia_torax_display 'SIN DATOS' %}</td>
                <th>¿USÓ ANTIBIÓTICO EN LA ÚLTIMA SEMANA?</th>
                <td>{% firstof info_general.get_antibiotico_ultimas_semanas_display 'SIN DATOS' %}</td>
            </tr>
        </table>
    </div>
</div>