<table class="table table-bordered">
    <tr>
        <th>No. Radicado</th>
        <td>{{ ingreso.radicado }}</td>
    </tr>
    <tr>
        <th>Fecha de recepción</th>
        <td>{{ ingreso.fecha_recepcion }}</td>
    </tr>
</table>

{% include 'trazabilidad/_estado_datos_paciente.html' with paciente=muestra bancodesangre='true' %}

<h4>Lugar de Recolección</h4>
<table class="table table-bordered">
    <tr>
        <th>Institución</th>
        <td>{{ muestra.institucion.nombre|upper }}</td>
    </tr>
    <tr>
        <th>Departamento</th>
        <td>{{ muestra.institucion.municipio.departamento|upper }}</td>
    </tr>
    <tr>
        <th>Municipio</th>
        <td>{{ muestra.institucion.municipio|upper }}</td>
    </tr>
</table>


<h4>Información de la Muestra</h4>
<table class="table table-bordered">
    <tr>
        <th>Tipo de envase</th>
        <td>{{ muestra.tipo_envase.nombre|upper }}</td>
    </tr>
    <tr>
        <th>Tipo de muestra</th>
        <td>{{ muestra.tipo_muestra.nombre|upper }}</td>
    </tr>
    <tr>
        <th>Formatos diligenciados</th>
        <td>{{ muestra.get_formatos_diligenciados_display|upper }}</td>
    </tr>
    <tr>
        <th>Ficha de pacientes</th>
        <td>{{ muestra.get_ficha_pacientes_display|upper }}</td>
    </tr>
    <tr>
        <th>Condensado banco</th>
        <td>{{ muestra.get_condensado_banco_display|upper }}</td>
    </tr>
    <tr>
        <th>Pruebas Solicitadas</th>
        <td>
            {% for prueba in muestra.pruebas.all.distinct %}
                {{ prueba.nombre|upper }}
                {% if not forloop.last %}
                    -
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>