<div class="row">
    <p id="footer-resultado" class="text-justify base-text">
        El resultado emitido corresponde únicamente al obtenido por el análisis de la(s) muestra(s) recibida(s) para estudio,
        identiﬁcada(s) como se especiﬁca en el contenedor de la(s) misma(s) y la solicitud de servicio respectiva. El
        Laboratorio Departamental de Salud Pública del Atlántico no puede responsabilizarse del cumplimiento de las condiciones
        pre-analíticas de pertinencia en toma de muestra o muestreo según aplique, identiﬁcación, almacenamiento y transporte.
        No está permitido reproducir parcialmente o totalmente el informe de resultados sin la aprobación escrita de la
        Dirección del Laboratorio.
    </p>
    <p id="footer-confidente" class="text-center base-text">
        ESTE DOCUMENTO ES PROPIEDAD DE LA GOBERNACION DEL ATLANTICO. PROHIBIDA SU REPRODUCCION POR CUALQUIER MEDIO, SIN AUTORIZACION ESCRITA DE LA SUBSECRETARIA DE SALUD PÚBLICA
    </p>
</div>
