<table class="table table-bordered margin-tables-print">
    <tr>
        <th class="wd-8">NOMBRES</th>
        <td>{{ muestra.paciente.nombre|upper }}</td>
        <th class="wd-8">APELLIDOS</th>
        <td>{{ muestra.paciente.apellido|upper }}</td>
        <th class="wd-12">DOCUMENTO ID</th>
        <td>{{ muestra.paciente.tipo_identificacion|upper }} {{ muestra.paciente.identificacion }}</td>
        <th class="wd-8">EDAD</th>
        <td>{{ muestra.paciente.edad }} {{ muestra.paciente.get_tipo_edad_display|upper }}</td>
    </tr>
</table>
<table class="table table-bordered margin-tables-print">
    <tr>
        <th class="wd-8">SEXO</th>
        {% if muestra.paciente.sexo == 'M' %}
        <td class="wd-8">MASCULINO</td>
        {% else %}
        <td class="wd-8">FEMENINO</td>
        {% endif %}
        {% if ingreso.programa.codigo == 'clinica' %}
        {% if muestra.paciente.sexo == 'F' %}
        <th class="wd-8">EMBARAZADA</th>
        <td class="wd-7">{% if muestra.clinica.embarazada == True %}Si{% else %}No{% endif %}</td>
        {% endif %}
        {% endif %}
        <th class="wd-8">DIRECCION</th>
        <td>{{ muestra.paciente.direccion|upper }}</td>
        <th class="wd-8">EPS-PLAN</th>
        <td>{{ muestra.paciente.eps.nombre|upper }}</td>
    </tr>
</table>
<div class="row table-responsive">
    <div class="col-md-12 panel-print">
        <div class="row">
            <div class="col-md-12">
                <h4 class="header-print">LUGAR DE PROCEDENCIA / OCURRENCIA</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th class="wd-15">DEPARTAMENTO</th>
                        <td>{{ muestra.clinica.municipio.departamento.nombre|upper }}</td>
                        <th class="wd-15">MUNICIPIO</th>
                        <td>{{ muestra.clinica.municipio.nombre|upper }}</td>
                        <th class="wd-15">BARRIO</th>
                        <td>{{ muestra.clinica.barrio|upper }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12 panel-print">
        <div class="row">
            <div class="col-md-12">
                <h4 class="header-print">LUGAR DE RECOLECCIÓN</h4>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th class="wd-30">INSTITUCIÓN</th>
                <td>{{ muestra.institucion.nombre|upper }}</td>
                <th class="wd-30">DEPARTAMENTO</th>
                <td>{{ muestra.institucion.municipio.departamento|upper }}</td>
                <th class="wd-30">MUNICIPIO</th>
                <td>{{ muestra.institucion.municipio|upper }}</td>
            </tr>
        </table>
        <table class="table table-bordered margin-tables-print">
            <tr>
                <th class="wd-35">PROPÓSITO GÉNERAL DE LA PRUEBA</th>
                <td>{{ informe.objeto|striptags|upper }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 panel-print">
        <h4 class="header-print">EMISIÓN DE RESULTADOS</h4>
    </div>
</div>
<div class="row table-responsive">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <thead>
                <tr>
                    <th>PRUEBA</th>
                    <th>RESULTADO</th>
                    <th>MÉTODO UTILIZADO</th>
                    <th>OBJETO DE LA PRUEBA</th>
                </tr>
            </thead>
            <tbody>
                {% for prueba_realizada in muestra.pruebasrealizadas_set.all %}
                <tr>
                    <td class="text-uppercase">{{ prueba_realizada.prueba.nombre }}</td>
                    <td class="text-uppercase">{{ prueba_realizada.resultados.all|join:', ' }}</td>
                    <td class="text-uppercase">{{ prueba_realizada.metodo }}</td>
                    <td class="text-uppercase">{{ prueba_realizada.metodo.objeto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<table class="table table-bordered margin-tables-print">
    <tr>
        <th style="width: 40%;">TEMPERATURA DE PROCESAMIENTO DE LA MUESTRA</th>
        <td>{{ muestra.temp_procesamiento }} ºC</td>
    </tr>
</table>