{% extends 'trazabilidad/estado_muestra_base.html' %}

{% block informacion_muestra %}
    {% include 'trazabilidad/_estado_datos_paciente.html' with paciente=muestra %}

    <h4>LUGAR DE RECOLECCIÓN</h4>
    <table class="table table-bordered">
        <tr>
            <th>DEPARTAMENTO</th>
            <td>{{ muestra.institucion.municipio.departamento|upper }}</td>
        </tr>
        <tr>
            <th>MUNICIPIO</th>
            <td>{{ muestra.institucion.municipio|upper }}</td>
        </tr>
        <tr>
            <th>NOMBRE</th>
            <td>{{ muestra.institucion.nombre|upper }}</td>
        </tr>
    </table>

    <h4>DATOS DE LA MUESTRA</h4>
    <table class="table table-bordered">
        <tr>
            <th>TIPO DE ENVASE</th>
            <td>{{ muestra.tipo_envase.nombre|upper }}</td>
        </tr>
        <tr>
            <th>TIPO DE MUESTRA</th>
            <td>{{ muestra.tipo_muestra.nombre|upper }}</td>
        </tr>
        <tr>
            <th>FORMATOS DILIGENCIADOS</th>
            <td>{{ muestra.get_formatos_diligenciados_display|upper }}</td>
        </tr>
        <tr>
            <th>FICHA DE PACIENTES</th>
            <td>{{ muestra.get_ficha_pacientes_display|upper }}</td>
        </tr>
        <tr>
            <th>CONDENSADO DE BANCO</th>
            <td>{{ muestra.get_condensado_banco_display|upper }}</td>
        </tr>
    </table>
{% endblock informacion_muestra %}

{% block form_action %}{% url 'trazabilidad:estado_muestra_banco_sangre' ingreso.id %}{% endblock %}

{% block edit_url %}{% url 'trazabilidad:actualizar_muestra_banco_sangre' ingreso.id %}{% endblock %}