{% extends 'base.html' %}
{% load static %}
{% block heading %}Usuarios{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.bootgrid.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="{% url 'administracion:nuevo_usuario' %}">Agregar Usuario</a>
    </div>
    </div>
    <br>

    <div class="table-responsive">
    <table class="table table-bordered" id="table">
        <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" data-visible="false"></th>
            <th data-column-id="nombre">Nombres</th>
            <th data-column-id="usuario">Usuario</th>
            <th data-column-id="email">Email</th>
            <th data-column-id="empleado">Empleado</th>
            <th data-column-id="estado">Estado</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in user_list %}
            <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.first_name|title }} {{ usuario.last_name|title }}</td>
            <td>{{ usuario.username|title }}</td>
            <td>{{ usuario.email }}</td>
            <td>{% if usuario.empleado %}Si{% else %}No{% endif %}</td>
            <td>{% if usuario.is_active %}Activo{% else %}Inactivo{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.bootgrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tables.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        tabla('{% url "administracion:actualizar_usuario" 0 %}');
    })
</script>
{% endblock %}