{% extends 'base.html' %}
{% load static %}
{% block heading %}Tipo Envase{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.bootgrid.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="{% url 'administracion:nuevo_tipo_envase' %}">Agregar Tipo Envase</a>
    </div>
    </div>
    <br>

    <div class="table-responsive">
    <table class="table table-bordered" id="table">
        <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" data-visible="false"></th>
            <th data-column-id="nombre">Nombre</th>
            <th data-column-id="estado">Estado</th>
            <th data-column-id="modificacion">Ultima modificación</th>
            <th data-column-id="modificado">Modificado por</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for tipo in tipoenvase_list %}
            <tr>
            <td>{{ tipo.id }}</td>
            <td>{{ tipo.nombre|title }}</td>
            <td>{{ tipo.get_estado_display|title }}</td>
            <td>{{ tipo.ultima_modificacion }}</td>
            <td>{{ tipo.modificado_por|title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.bootgrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tables.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        tabla('{% url 'administracion:actualizar_tipo_envase' 0 %}');
    })
</script>
{% endblock %}